[Unit]
Description=Run homesweetpi api server
After=multi-user.target

[Service]
WorkingDirectory=/home/ubuntu/homesweetpi/
User=ubuntu
ExecStart=/usr/bin/bash /home/ubuntu/homesweetpi/start.sh

[Install]
WantedBy=multi-user.target
